.App {
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 1em;
}

.App-link {
  color: #61dafb;
}

.smsForm {
  display: grid;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 2em;
  grid-template-columns: 1fr 2fr;
}

.smsForm label {
  text-align: right;
  padding-right: 1em;
  margin-bottom: 0.5em;
}

.pnPicker .pnSelect {
  margin-bottom: 1em;
}

.caller {
  margin-top: 1em;
}
.pnPicker .pnConfirm {
}
